h1{
    border: 1px solid rgb(241, 144, 186);
    border-radius: 50px 20px;
    text-align: center;
    background-color: antiquewhite;
    margin-top: 20px;
}

.nola{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    margin: 10px ;
}